<?xml version="1.0" encoding="UTF-8"?>
<!doctype html>
<html lang="en">
  <head>
    <title>Immo Spider</title>
    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">-->
    <link rel="stylesheet" href="/static/jquery-ui-choc/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
    <script src="/static/node_modules/openlayers/dist/ol.js" type="text/javascript"></script>
  </head>
  <body>
    <script src="/static/jquery/external/jquery/jquery.js"></script>
    <script src="/static/jquery/jquery-ui.js"></script>
    <script>
      $(function() {
        $( "#titre" ).dialog();
        $( "#titre" ).tabs();
      });
    </script>
    <div id="map"></div>
    <!--<div id="titre"><ul><li><a href="#tabs-1">test</a></li><li><a href="#tabs-2">test2</a></li></ul><div id="tabs-1"><h1>Immo Spider</h1></div><div id="tabs-2">zertyuiouyt</div></div>-->
    <div id="titre"><h1>Immo Spider</h1></div>
    <div id="info">
      <div id="info-link"></div>
      <ul>
        <li><a href="#tabs-1">Résumé</a></li>
        <li><a href="#tabs-2">photos</a></li>
        <li><a href="#tabs-3">information</a></li>
        <li><a href="#tabs-4">actions</a></li>
      </ul>
      <div id="tabs-1">
        <div id="tabs-1-content">
        </div>
      </div>
      <div id="tabs-2">
        <div id="tabs-2-content">
        </div>
      </div>
      <div id="tabs-3">
        <div id="tabs-3-content">
        </div>
      </div>
      <div id="tabs-4">
        <div id="tabs-4-content">
        </div>
      </div>

    </div>
    <!--<div id="info"></div>-->
    <script src="/static/js/views.js" type="text/javascript"></script>
  </body>
</html>