<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Manage users</title>
        <link rel="stylesheet" href="/static/css/manage.css" type="text/css" />
    </head>
    <body>
        <div id="manage-login">
            <h1>Liste des utilisateurs</h1>
            <form method="post" action="/auth/manage">
                <ul>
                    {% for user in users %}
                      <li>
                          <INPUT type="checkbox" name="check" value="{{ user.username }}">
                          {{ user.username|e }}
                          role: {{ user.role|e }}
                      </li>
                    {% endfor %}
                </ul>
                <input type="submit" value="Delete" />
            </form>
        </div>
        <div id="add-login">
            <h1>Ajout d'utilisateur</h1>
            <form method="post" action="/auth/manage">
                Username: <input type="text" name="username" value="{{ username }}" /><br />
                Password: <input type="password" name="password1" /><br />
                Password: <input type="password" name="password2" /><br />
                <!--Add CRSF check-->
                <input type="submit" value="Add user" />
            </form>
        </div>
    </body>
</html>