<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Manage users</title>
        <link rel="stylesheet" href="/static/jquery-ui-choc/jquery-ui.min.css">
        <link rel="stylesheet" href="/static/css/manage.css" type="text/css" />
    </head>
    <body>
        <script src="/static/jquery/external/jquery/jquery.js"></script>
        <script src="/static/jquery/jquery-ui.js"></script>
        <div id="action" class="area">
            <h1>Actions</h1>
            <a href="/" class="button">View map</a>
            <a href="/auth/login" class="button">Login</a>
            <a href="/auth/logout" class="button">Logout</a>
            <a href="#" onclick="update_action_info('sync')" class="button">Sync database</a>
            <a href="#" onclick="update_action_info('purge')" class="button">Purge database</a>
            <br>
            <div id="action-info"></div>
        </div>
        <div id="manage-login" class="area">
            <h1>Liste des utilisateurs</h1>
            <form method="post" action="/auth/manage">
                <ul>
                    {% for user in users %}
                      <li>
                          <INPUT type="checkbox" name="check" value="{{ user.username }}">
                          {{ user.username|e }}
                          role: {{ user.role|e }}
                      </li>
                    {% endfor %}
                </ul>
                <input type="submit" value="Delete" />
            </form>
        </div>
        <div id="add-login" class="area">
            <h1>Ajout d'utilisateur</h1>
            <form method="post" action="/manage">
                Username: <input type="text" name="username" value="{{ username }}" /><br />
                Password: <input type="password" name="password1" /><br />
                Password: <input type="password" name="password2" /><br />
                <!--Add CRSF check-->
                <input type="submit" value="Add user" />
            </form>
        </div>
        <script src="/static/js/manage.js" type="text/javascript"></script>
    </body>
</html>