#manage-login {
    background: #9f9f9f;
    width: 50%;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
}

#add-login {
    background: #9f9f9f;
    width: 50%;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
}

